<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function update_image(url){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = "blob";
            xhr.onload = function() {
                if (this.status == 200) {
                    var blob = this.response;
                    var img = document.createElement("img");
                    img.onload = function(e) {
                        window.URL.revokeObjectURL(img.src);
                    };
                    img.src = window.URL.createObjectURL(blob);
                    $("#div1").html(img);
                }
            }
            xhr.send();
        }
    </script>
    <script>
        window.addEventListener('load', eventWindowLoaded, false);
        document.ondragstart=function() {return false;}
        function eventWindowLoaded () {
            canvasApp();
        }

        function canvasApp () {
          var myCanvas = document.getElementById('div1');
         //var ctx=myCanvas.getContext("2d");
         //var canvasOffset=$("#canvas").offset();
          var startX,startY,mouseX,mouseY;
          var drag=false;
          var lines=[];

          myCanvas.width = window.innerWidth;
          myCanvas.height = window.innerHeight;

          myCanvas.addEventListener('mousedown', mouseDown, false);
          myCanvas.addEventListener('mouseup', mouseUp, false);
          myCanvas.addEventListener('mousemove', mouseMove, false);

        function drawLines(toX,toY){
            // redraw all previous lines
            for(var i=0;i<lines.length;i++){
                drawLine(lines[i]);
            }
            // draw the current line
            drawLine({x1:startX,y1:startY,x2:mouseX,y2:mouseY});
        }

        function drawLine(line){
            //ctx.beginPath();
            //ctx.moveTo(line.x1, line.y1);
            //ctx.lineTo(line.x2, line.y2);
            //ctx.stroke();
        }

          function mouseDown(e) {
              var offsetX = 0;
              var offsetY = 0;
              mouseX = e.pageX - offsetX;
              mouseY = e.pageY - offsetY;

              startX = mouseX;
              startY = mouseY;
              drag = true;
          }
          function mouseUp() {
              drag = false;
              lines = {x1:startX,y1:startY,x2:mouseX,y2:mouseY};
              sendMessage(lines);
          }

          function mouseMove(e) {
              if (drag) {
                  var offsetX = 0;
                  var offsetY = 0;
                  mouseX = e.pageX - offsetX;
                  mouseY = e.pageY - offsetY;
                  drawLines(mouseX,mouseX);
              }
          }

          function sendMessage(lines) {
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/click', true);
              xhr.setRequestHeader("Content-Type", "application/json");
              xhr.responseType = "blob";
              xhr.onload = function() {
                  if (this.status === 200) {
                    var blob = this.response;
                    var img = document.createElement("img");
                    img.onload = function(e) {
                        window.URL.revokeObjectURL(img.src);
                    };
                    img.src = window.URL.createObjectURL(blob);
                    $("#div1").html(img);
                    }
                };
              console.log(lines);
                xhr.send(JSON.stringify({
                'x1': lines.x1,
                'y1': lines.y1,
                'x2': lines.x2,
                'y2': lines.y2
            }));
        }
        }
    </script>

</head>

<body>
    <div id="div1">
        <img src="{{ url_for('image') }}">
    </div>
    <button onclick="update_image('/test')">Binary</button>
    <button onclick="update_image('/image')">Origin</button>
    <button onclick="update_image('/egde')">Edge Detection</button>


</body>
</html>